.nav {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    background-color:rgb(66, 93, 182);
    color:rgb(1, 0, 2);
    text-align:left;
    padding-top: 10px;
    padding-left: 20px;
}

img {
    width: 20%;
    border-radius: 10px;
}

p {
    font-size: 18px;
    text-align: left;
}

button {
    width: 10%;
    height: 40px;
    background-color: rgb(231, 225, 225);
    color: brown;
    margin-left: 10px;
    border-radius: 15px;
}
.block1 {
    margin-top: 10px; <-отодвигает элемент внутри -->
    position: relative;
    height: 180px;
    width: 100%;
    background-color:rgb(196, 203, 228);
    border-radius: 10px;
    text-align:left;
    padding-top: 10px;
    padding-left: 20px;
}
.block2 {
    margin-top: 10px;
    position: relative;
    height: 500px;
    width: 100%;
    background-color:rgb(196, 203, 228);
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
}
.block3 {
    margin-top: 10px;
    position: relative;
    height: 1300px;
    width: 100%;
    background-color:rgb(196, 203, 228);
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
}    
.block5   {
    margin-top: 10px;
    width: 100%;
    height: 900px;
    background-color:rgb(196, 203, 228);
    color:rgb(10, 1, 1);
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 10px;
}
.block6   {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    background-color:rgb(196, 203, 228);
    color:rgb(0, 0, 0);
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 10px;
}
.block4   {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color:rgb(66, 93, 182);
    color:white;
    text-align: center;
}
